<p class="user">
Disable 'User Page' link while on 'User Page'.<br /><br />
Functionality:<br /><br />
User authentication with CanCan (?)<br />
Contact List with user notation<br />
Form to add agency<br />
</p>