<div class="resource-list">
  <h3>Hello World! Lookin' for some resources?</h3>
  <p>
  Well, this is tentatively where they will be eventually.<br/>
  However, they will more than likely look like Lorem Ipsum text for a while.<br/>
  Sorry.
  </p>
</div>