<div id="no-bkg">
<a href="A" class="nav inactive" id="A" onclick="showIt('c_A')">A</a> |
<a href="B" class="nav inactive" id="B" onclick="showIt('c_B')">B</a> |
<a href="C" class="nav inactive" id="C" onclick="showIt('c_C')">C</a> |
<a href="D" class="nav inactive" id="D" onclick="showIt('c_D')">D</a> |
<a href="E" class="nav inactive" id="E" onclick="showIt('c_E')">E</a> |
<a href="F" class="nav inactive" id="F" onclick="showIt('c_F')">F</a> |
<a href="G" class="nav inactive" id="G" onclick="showIt('c_G')">G</a> |
<a href="H" class="nav inactive" id="H" onclick="showIt('c_H')">H</a> |
<a href="I" class="nav inactive" id="I" onclick="showIt('c_I')">I</a> |
<a href="J" class="nav inactive" id="J" onclick="showIt('c_J')">J</a> |
<a href="K" class="nav inactive" id="K" onclick="showIt('c_K')">K</a> |
<a href="L" class="nav inactive" id="L" onclick="showIt('c_L')">L</a> |
<a href="M" class="nav inactive" id="M" onclick="showIt('c_M')">M</a> |
<a href="N" class="nav inactive" id="N" onclick="showIt('c_N')">N</a> |
<a href="O" class="nav inactive" id="O" onclick="showIt('c_O')">O</a> |
<a href="P" class="nav inactive" id="P" onclick="showIt('c_P')">P</a> |
<a href="Q" class="nav inactive" id="Q" onclick="showIt('c_Q')">Q</a> |
<a href="R" class="nav inactive" id="R" onclick="showIt('c_R')">R</a> |
<a href="S" class="nav inactive" id="S" onclick="showIt('c_S')">S</a> |
<a href="T" class="nav inactive" id="T" onclick="showIt('c_T')">T</a> |
<a href="U" class="nav inactive" id="U" onclick="showIt('c_U')">U</a> |
<a href="V" class="nav inactive" id="V" onclick="showIt('c_V')">V</a> |
<a href="W" class="nav inactive" id="W" onclick="showIt('c_W')">W</a> |
<a href="X" class="nav inactive" id="X" onclick="showIt('c_X')">X</a> |
<a href="Y" class="nav inactive" id="Y" onclick="showIt('c_Y')">Y</a> |
<a href="Z" class="nav inactive" id="Z" onclick="showIt('c_Z')">Z</a
</div>