<div class="no-bkg">

  <% alphabet_array.each do |a| %>
    <a href="<%= a %>" class="nav inactive" id="<%= a %>" onclick="showIt('c_<%= a %>')"><%= a.upcase %></a> |
  <% end %>

  <a href="z" class="nav inactive" id="z" onclick="showIt('c_z')">Z</a>
</div>