<ul id="contact-nav">
  <li><div id="a">
  A
  </div></li>
  <li><div id="b">
  B
  </div></li>
  <li><div id="c">
  C
  </div></li>
  <li><div id="d">
  D
  </div></li>
  <li><div id="e">
  E
  </div></li>
  <li><div id="f">
  F
  </div></li>
  <li><div id="g">
  G
  </div></li>
  <li><div id="h">
  H
  </div></li>
  <li><div id="i">
  I
  </div></li>
  <li><div id="j">
  J
  </div></li>
  <li><div id="k">
  K
  </div></li>
  <li><div id="l">
  L
  </div></li>
  <li><div id="m">
  M
  </div></li>
  <li><div id="n">
  N
  </div></li>
  <li><div id="o">
  O
  </div></li>
  <li><div id="p">
  P
  </div></li>
  <li><div id="q">
  Q
  </div></li>
  <li><div id="r">
  R
  </div></li>
  <li><div id="s">
  S
  </div></li>
  <li><div id="t">
  T
  </div></li>
  <li><div id="u">
  U
  </div></li>
  <li><div id="v">
  V
  </div></li>
  <li><div id="w">
  W
  </div></li>
  <li><div id="x">
  X
  </div></li>
  <li><div id="y">
  Y
  </div></li>
  <li><div id="z">
  Z
  </div></li>
</ul>