<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Resourceful.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Resourceful.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Best,</p>
    <p>The Resourceful Team</p>
  </body>
</html>