<div class="no-bkg">
  <p>
    In the diverse range of fields that fall under the category of Social Work, there is a constant exchange of information in regards to different agencies and tools that can be used to subsidize treatment plans, provide resources, etc.
  </p>
  <p>
    Resourceful is an attempt to streamline this exchange of information. The idea behind Resourceful is simple: provide an organized, easy to use system that allows users to find resources or agencies that may be of assistance to them.
  <p>
    The ultimate goal at Resourceful is to provide a tool that will allow people to spend less time creating their own catalogues of information and to instead draw from a collective pool. Ideally this will allow people in Social Work or Human Service roles to spend more time doing what they do best: making a real and lasting difference in people's lives.
  </p>
  <p>
    If you have any questions or recommendations, please do not hesitate to <%= link_to "Email", email_path %> us. Thank you for using Resourceful!
  </p>
</div>

<div id="bottom-spacer"></div>
<div id="bottom-bar">
  <p id="bottom-nav"><%= link_to "Home", "/" %> | <%= link_to "Top of Page", "/top", :class=>"top"%></p>
</div>