<div id="no-bkg">
  <p>
  This is where the dev contact info will go.
  </p>
  <p>
  Like this: h.winter.dev@gmail.com
  </p>
  <p>
  Better yet, I could put a form here that will allow users and non-users to send an email.
  </p>
</div>