/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0 auto;
  background-color: #ECF0F1;
}

ul.page-nav {
  margin: 0;
  padding: 5px 0 5px 0;
  background-color: #1abc9c;
  list-style-type: none;
}

ul.page-nav li {
  display: inline;
  padding: 10px;
}

div.page-head {
  margin: 0 auto;
  background-color: #ECF0F1;
  width: 100%;
  height: 150px;
}

div.resourceful {
  width: 700px;
}

div.resourceful p.welcome {
  padding-top: 14px;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 55px;
  font-weight: bold;
  color: #34495E;
  text-align: center;
}

div.resourceful p.slogan {
  margin: 0 auto;
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
  color: #34495E;
  text-align: right;
}

a {
  text-decoration: none;
  font-family: arial,sans serif;
  font-weight: bold;
  color: #9b59b6;
}

a:hover {
  color: #8e44ad;
}

div.current-user {
  margin: 0 auto;
  padding: 5px 5px 5px 20px;
  background-color: #34495E;
  font-family: arial,sans serif;
  font-weight: bold;
  color: #ECF0F1;
}

ul.user-info {
  margin: 0;
  padding: 5px 0 5px 0;
  list-style-type: none;
}

ul.user-info li {
  display: inline;
  padding: 10px;
}

div.flash_notice {
  font-family: arial,sans serif;
  font-size: 18px;
  font-weight: bold;
  color: #2C3E50;
  width: 100%;
}

div#circle img {
  float:right;
}

h3 {
  font-family: arial,sans serif;
  color: #2C3E50;
}

div.no-bkg {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 5px 5px 20px;
  margin: 0 auto;
}

div.no-bkg.form {
  padding: 20px 5px 5px 20px;
}

div.bkg.list {
  padding: 0 0 1px 0;
}

div.bkg {
  font-family: arial,sans serif;
  color: #2C3E50;
  background-color: #95A5A6;
  margin: 20px;
  width: 75%;
}

div#color {
  margin: 0;
  font-weight: bold;
  background-color: #f39c12;
  padding: 1px 0 1px 30px;
}

div.bkg.main {
  padding: 0px 10px 10px 25px;
}

div#label {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0 0 0 20px;
  margin: 0 auto;
}

dl.tags {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  float: right;
}

dl.tags dt {
  padding: 4px;
}

dl.tags dd {
  padding: 2px;
  margin-left: 15px;
}

p#phone {
  margin: 0;
}

p#name {
  padding: 0;
}

p.user {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
}

.actions {
  margin: 12px 0 15px 0;
}

div#review {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 10px;
  margin: 5px;
  background-color: #ECF0F1;
}

div#delete {
  width: 75%;
  font-family: arial,sans serif;
  font-size: 25;
  font-weight: bold;
  color: #2C3E50;
  background-color: #e74c3c;
  padding: 1px 0px 1px 20px;
  margin-bottom: 15px;
}

div#delete a {
  color: #2C3E50;
}

div#delete a:hover {
  color: #8e44ad;
}

.hidden {
  display: none;
}

div#bottom-spacer {
  height: 47px;
}

div#bottom-bar {
  background: #1abc9c;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 47px;
}

p#bottom-nav {
  padding-left: 20px;
}

a.inactive {
  color: #b1bdbd;
  pointer-events: none;
  cursor: default;
}

div#authz {
  padding-left: 20px;
  height: 0px;
  overflow: hidden;
}

p.phone-error {
  font-weight: bold;
  color: #C0392B;
}

