/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0 auto;
  background-color: #ECF0F1;
}

ul.page-nav {
  margin: 0;
  padding: 5px 0 5px 0;
  background-color: #16A085;
  list-style-type: none;
}

ul.page-nav li {
  display: inline;
  padding: 10px;
}

div.page-head {
  margin: 0 auto;
  background-color: #ECF0F1; /*#BDC3C7;*/ /*#aacccc;*/
  width: 100%;
  height: 150px;
}

div.resourceful {
  width: 700px;
}

div.resourceful p.welcome {
  padding-top: 14px;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 55px;
  font-weight: bold;
  color: #34495E;
  text-align: center;
}

div.resourceful p.slogan {
  margin: 0 auto;
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
  color: #34495E;
  text-align: right;
}

a {
  text-decoration: none;
  font-family: arial,sans serif;
  font-weight: bold;
  color: #2980B9;
}

a:hover {
  color: #3498DB;
}

a:visited {
  color: #8E44AD;
}

div.resource-list {
  font-family: arial,sans serif;
  color: #2C3E50;
  width: 100%;
  padding: 0 5px 5px 0;
  margin: 0 auto;
}

div#notices {
  font-family: arial,sans serif;
  color: #2C3E50;
  width: 95%;
  margin: 0 auto;
  background-color: #E67E22;
}

div.current-user {
  margin: 0 auto;
  padding: 5px 5px 5px 20px;
  background-color: #34495E; /*#dcdcdc;*/
  font-family: arial,sans serif;
  font-weight: bold;
  color: #ECF0F1;
}

div.agency {
  font-family: arial,sans serif;
  color: #2C3E50;
  width: 100%;
  padding: 0 5px 5px 20px;
  margin: 0 auto;
  background-color: #95A5A6;
  margin: 20px;
  padding: 10px 25px 10px 25px;
  width: 75%;
}

#new_user {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0 5px 5px 20px;
  margin: 0 auto;
}

#signin {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0 5px 5px 20px;
  margin: 0 auto;
}

ul.user-info {
  margin: 0;
  padding: 5px 0 5px 0;
  list-style-type: none;
}

ul.user-info li {
  display: inline;
  padding: 10px;
}

div.search {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0 5px 20px 20px;
  margin: 0 auto;
}

div#signup {
  padding: 20px 5px 20px 20px;
  margin: 0 auto;
}

div#signin {
  padding: 20px 5px 20px 20px;
  margin: 0 auto;
}

div#about {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 5px 20px 20px;
  margin: 0 auto;
}

div#email {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 5px 20px 20px;
  margin: 0 auto;
}

div#user {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 5px 20px 20px;
  margin: 0 auto;
}

dl.tags {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  float: right;
}

dl.tags dt {
  padding: 4px;
}

dl.tags dd {
  padding: 2px;
  margin-left: 15px;
}

p#phone {
  margin: 0;
}

p#agency-name {
  font-weight: bold;
}

p.user {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
}

div.contact {
  font-family: arial,sans serif;
  background-color: #cad5df;
  margin: 20px;
  padding: 10px 25px 10px 25px;
  width: 75%;
}

p#contact-name {
  font-weight: bold;
}

div.add-agency {
  font-family: arial,sans serif;
  color: #2C3E50;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
}

.actions {
  margin:12px 0 12px 0;
}